<html>
<head>
<link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<h1>
    Express - {{title}}
    <div>
        <h1>{{some}}</h1>
    </div>
    <div>
        Names

        {{#if show}}
            <div>
                {{#each names}}
                    <div>
                        <span style="color: blue">{{fname}}</span><span>{{lname}}</span>
                    </div>
                {{/each}}
            </div>
        {{/if}}
    </div>
</h1>
</body>
</html>